html {
  scroll-behavior: smooth;
}


#root {
  font-family: Futura;
  background-image: url('https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.card img {
  height: 300px;
  object-fit: cover;
}